.content {
  background-color: #282c34;
  min-height: 100vh;
  color: aliceblue;
  display: flex;
  flex-direction: column;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  font-size: 4vh;
  color: #11998e;
  background: -webkit-linear-gradient(#38ef7d, #11998e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.container{
  margin: 10vh 40vh;
  height: 40vh;
  background: #222411;
  box-shadow: 3px;
}

.displayOutput{
  align-items: center;
  width: 97%;
  margin: 1%;
  position: relative;
  height: 15%;
  border-radius: 5px;
  font-size: 40px;
  direction: rtl;
}

.buttons-holder{
  align-items: center;
  width: 97%;
  margin: 1%;
}

.numeric-buttons-holder .calculator-button{
  padding: 7%;
  border-radius: 50%;
  border: none;
  margin: 10px;
  background-color: aquamarine;
}

.numeric-buttons-holder .calculator-button :focus{
outline: none;
}

.math-buttons-holder .calculator-button{
  padding: 15%;
  border-radius: 50%;
  border: none;
  margin: 10px;
  background-color: rgb(177, 233, 151);
  display: inline-block;
  font-size: 22px;
}

.numeric-buttons-holder{
  float:left;
  width:70%;
}

.math-buttons-holder{
  float:left;
  overflow: hidden;
}